

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif; 
}

.container {
  text-align: center; 
}

.quiz-container {
  max-width: 600px; 
  margin-top: 20px; 
}

.question {
  margin-bottom: 50px; 
}

.next-btn {
  margin-top: 30px; 
}
